{% extends 'student_template/main.html' %}
{% load static %}

{% block body %}
<h2 class="w3-center" style="margin-top: 50px;">Student Profile</h2>
<div class="w3-border w3-padding-24 w3-center" style="width:50%; margin-left: 340px;">
	{% if student.image %}
	<img src="{{ student.image.url }}" width="220" height="220" style="border-radius: 50%;">
	{% else %}
	<img src="{% static 'img/user-img.png' %}" width="220" height="220" style="border-radius: 50%;">
	{% endif %}
	<h2>Status: <span class="w3-text-blue">{{ student.tag }}</span></h2>
    <h3>{{ student.name }} | Course: {{ student.course }}</h3>
    <h4 class="w3-text-red">Fine: {{ student.fine }}</h4>
    <p>Email: {{ student.email }}</p>
    <p>Mobile No.: {{ student.mobile_no }}</p>
    <p>Username: {{ username }}</p>
    <p>Address: {{ student.address }}</p>
</div>

<div class="w3-container" style="margin: 40px 0;">
	<h2 class="w3-center">Issued Books</h2>
	{% for msg in messages %}
		<p class="w3-center w3-text-teal"><b>{{ msg }}</b></p>
	{% endfor %}
	<div class="w3-row-padding">
		{% for book in books %}
		<div class="w3-col m3">
			<div class="w3-card-4 w3-padding-16">
			    <img src="{{ book.image.url }}" alt="Alps" width="300" height="320">
			    <div class="w3-container w3-center">
			      <h5>{{ book.title }}</h5>
			        <p>Author: {{ book.author }} | Edition: {{ book.edition }} | Rack No: {{ book.rack_no }}</p>
			        <p><b>Issue Date : {{ book.issue_date }} <br> Return Date : {{ book.return_date }}</b></p>
			        <a href="/{{ book.id }}/renew" class="w3-button w3-blue w3-center">Renew</a>
			    </div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}