{% extends 'admin_panel/main.html' %}

{% block body %}


<div class="w3-card-4 w3-light-gray w3-padding" style="width: 60%; margin-left: 80px;">
    <div style="margin:60px 100px;">
        {% for msg in messages %}
        <div class="w3-panel w3-pale-green w3-display-container">
            <span onclick="this.parentElement.style.display='none'"
            class="w3-button w3-large w3-display-topright">&times;</span>
            <h4 class="w3-center">{{ msg}}</h4>
        </div> 
        {% endfor %}
        <h1 class="w3-center">Change Password</h1>
        <form method="post" action="/change-password" class="w3-center">
            {% csrf_token %}
             <label>New Password</label>
             <input class="w3-input" type="password" name="password1"><br>
             <label>Confirm Password</label>
             <input class="w3-input" type="password" name="password2"><br>
             <button class="w3-button w3-green" type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}