{% extends 'admin_panel/main.html' %}
{% load static %}

{% block body %}
<h2 class="w3-container w3-center">Active Students</h2>
<div class="w3-row-padding">
  {% for student in active %}
    <div class="w3-col m4">
      <div class="w3-card-4">
        <div class="w3-container w3-center">
          {% if student.image %}
            <img src="{{ student.image.url }}" class="w3-circle" style="margin-top:15px;" width="63%" height="70%">
          {% else %}
            <img src="{% static 'img/user-img.png' %}" class="w3-circle" style="width:80%">
          {% endif %}
          <h5>Student Name : {{ student.name }}</h5>
          <p>Email : {{ student.email }}</p>
          <p>Mobile No: {{ student.mobile_no }}</p>
          <p>Course : {{ student.course }}</p>
          <div class="w3-section">
            <a href="/{{ student.student_id }}/cancelled" class="w3-button w3-red">Cancelled</a>
            <a href="/{{ student.student_id }}/blacklisted" class="w3-button w3-grey">Blacklisted</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h2 class="w3-container w3-center">Blacklisted Students</h2>
<div class="w3-row-padding">
  {% for student in blacklist %}
    <div class="w3-col m4">
      <div class="w3-card-4">
        <div class="w3-container w3-center">
          {% if student.image %}
            <img src="{{ student.image.url }}" class="w3-circle" style="margin-top:15px;" width="63%" height="70%">
          {% else %}
            <img src="{% static 'img/user-img.png' %}" class="w3-circle" style="width:80%">
          {% endif %}
          <h5>Student Name : {{ student.name }}</h5>
          <p>Email : {{ student.email }}</p>
          <p>Mobile No: {{ student.mobile_no }}</p>
          <p>Course : {{ student.course }}</p>
          <div class="w3-section">
            <a href="/{{ student.student_id }}/active" class="w3-button w3-green">Active Now</a>
            <!-- <a href="/{{ student.student_id }}/blacklisted" class="w3-button w3-grey">Blacklisted</a> -->
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h2 class="w3-container w3-center">Cancelled Students</h2>
<div class="w3-row-padding">
  {% for student in cancel %}
    <div class="w3-col m4">
      <div class="w3-card-4">
        <div class="w3-container w3-center">
          {% if student.image %}
            <img src="{{ student.image.url }}" class="w3-circle" style="margin-top:15px;" width="63%" height="70%">
          {% else %}
            <img src="{% static 'img/user-img.png' %}" class="w3-circle" style="width:80%">
          {% endif %}
          <h5>Student Name : {{ student.name }}</h5>
          <p>Email : {{ student.email }}</p>
          <p>Mobile No: {{ student.mobile_no }}</p>
          <p>Course : {{ student.course }}</p>
          <div class="w3-section">
            <a href="/{{ student.student_id }}/active" class="w3-button w3-green">Active Now</a>
            <!-- <a href="/{{ student.student_id }}/blacklisted" class="w3-button w3-grey">Blacklisted</a> -->
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}